<section id="portfolio">

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2><%= @profile_user.first_name %> <%= @profile_user.last_name %></h2>
              <% if current_user.id == @profile_user.id %>
              <%= link_to 'Edit Profile', edit_profile_path(current_user), class: 'btn btn-success btn-xs' %>
              <% end %>
              <hr class="star-primary">
          </div>
      </div>

      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <!-- <div class="panel panel-info"> -->
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src=<%= @profile.avatar.url %> id="profile-pic" class="img-rounded" alt="profile pic">
            </a>

            <h4>A little about me...</h4>
            <p><%= @profile.bio %></p>
          <!-- </div> -->
        </div>

        <div class="col-sm-4 portfolio-item">
          <div class="caption">
              <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
              </div>
          </div>
          <h4>My Lists
            <% if current_user.id == @profile_user.id %>
              <%= link_to new_list_path, class: 'btn btn-success btn-xs' do %>
              <i class="glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          </h4>
          <div class="list-group">
            <% @profile_user.lists.each do |list|%>
              <span class="list-group-item"><%= link_to list.title, list_path(list.id) %></span>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4 portfolio-item">
          <div class="caption">
              <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
              </div>
          </div>
          <h4>My Groups
            <% if current_user.id == @profile_user.id %>
              <%= link_to new_group_path, class: 'btn btn-success btn-xs' do %>
              <i class="glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          </h4>
          <div class="list-group">
            <% @profile_user.groups.each do |group|%>
              <span class="list-group-item"><%= link_to group.name, group_path(group.id) %></span>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <div class="row">
        <h3>My Stats</h3>
        <br>
        <br>
        <div class="col-sm-4 portfolio-item">
          <h4>Total Lists Created</h4>
          <%= @profile_user.lists.count %>
        </div>
        <div class="col-sm-4 portfolio-item">
          <h4>Total Groups Created</h4>
          <%= @profile_user.created_groups.count %>
        </div>
        <div class="col-sm-4 portfolio-item">
          <h4>Total Votes Given</h4>
          <%= Vote.where(user_id: @profile_user.id ).count %>
        </div>
      </div>
      <br>
      <br>

  </div>
</section>
