<div class="">

    <h1>Update Group</h1>
    <% if @group.errors.any? %>
      <div id='error_explanation'>
        <h2>
          <%= pluralize(@group.errors.count, 'error') %> prohibited this article from being saved:
        </h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= form_for @group, html: { method: :put } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %><br>

    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %><br>

    <%= f.hidden_field :creator_id, :value => current_user.id %>

    <%= f.label :avatar  %>
    <%= f.file_field :avatar, :class => "form-control" %><br>

    <%= f.submit 'Update', :class => "btn btn-danger" %>

  <% end %>

</div>
