<div id="restaurant-search">
  <h3>Search Results</h3>
  <li class="sortable" ondragstart="">
    <% @new_search.response_data["restaurants"].map do |result|
       rest = result["restaurant"]

       if Restaurant.find_by(restaurant_id: rest["id"])
        query = Restaurant.find_by(restaurant_id: rest["id"])
       else
       Restaurant.create!( name: rest["name"],
                        restaurant_url: rest["url"],
                        address: rest["location"]["address"],
                        locality: rest["location"]["locality"],
                        city: rest["location"]["city"],
                        zipcode: rest["location"]["zipcode"],
                        average_cost_for_two: rest["average_cost_for_two"],
                        featured_img: rest["featured_image"],
                        menu_url: rest["menu_url"],
                        has_online_delivery: rest["has_online_delivery"],
                        cuisines: rest["cuisines"],
                        restaurant_id: rest["id"]
                        )

       query = Restaurant.find_by(name: rest["name"])
       end %>
       <li><a draggable="true" ondragstart="drag(event)" id="<%= query.id %>" href= "restaurants/<%= query.id %>"> <%= query.name %> - <%= query.locality %></a></li>
    <% end %>
  </li>
</div>


  <div id="user-list-restaurants-container">
    <% if user_signed_in? %>
      <h3><%= current_user.first_name %>'s List</h3>
      <h4>Favorite a restaurant by draging into your list</h4>
        <% current_user.lists.map do |list| %>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
          <h4 id="<%= list.id %>"><a href="/lists/<%= list.id %>"><%= list.title %></a></h4>
            <h5>Restaurants:</h5>
          <ul id="restaurants-list">
          <% list.restaurants.each do |rest| %>
            <li><a href="/restaurants/<%= rest.id %>"><%= rest.name %></a></li>
          <% end %>
          </ul>
        </div>
        <% end %>
    <% else %>
      <h3>Must be logged in in order to save restaurants to your list.</h3>
    <% end %>
  </div>

